#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

h2 {
  padding: .5rem;
  background-color: rgb(233, 233, 233);
  border-radius: 4px;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: .5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
  gap: 2px;
}

.loading {
  min-width: 600px;
  text-align: center;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.imageCard {
  cursor: pointer;
}

.imageCard > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

.close {
  position: absolute;
  color: #aaa;
  top: 5px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

--- Utilities

.dots {
  display: inline-block;
  width: 1.5rem;
  text-align: left;
}

.dots::after {
  content: '';
  animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
  0% { content: ''; }
  25% { content: '.'; }
  50% { content: '..'; }
  75% { content: '...'; }
  100% { content: ''; }
}
